<form action="/cats/add-breed" style="font-family: 'Carter One', cursive;" method="POST" class="cat-form">
    {{!-- <h2>Add Cat Breed</h2> --}}
    <label for="breed-name"></label>
    <input name="breed" type="text" id="breed-name" placeholder="Breed Name...">
    <button type="submit">Add Breed</button>
</form>
<br><br><br><br><br><br><br><br>
       